<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head.ejs %>
</head>
	<body>
		<header>
			<h1>Show Page for <%=employer.name%></h1>
			<nav>
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/employers">Employer Index</a>
					</li>
				</ul>
			</nav>
		</header>
		<main>
			<section>
				<h2>Employer Attributes:</h2>
				<ul>
					<li>Name: <%=employer.name%></li>
				</ul>
			</section>
			<section>
				<h2>Jobs posted by this employer:</h2>
				<ul>
					<% for(let i=0; i < employer.jobs.length; i++) { %>
						<li><a href="/jobs/<%=employer.jobs[i].id%>"><%=employer.jobs[i].title%></a></li>
						<% } %>
				</ul>
			</section>
      <section>
        <a href="/employers/<%=employer.id%>/edit">Edit</a>
      </section>
      <section>
        <form action="/employers/<%=employer.id%>?_method=DELETE" method="post">
          <input type="submit" value="Delete Employer"/>
        </form>
      </section>
		</main>
    <%# scripts%>
    <% include ../partials/scripts.ejs %>
    <%# scripts%>
	</body>
</html>
