<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head.ejs %>
</head>
	<body>
		<header>
      <% include ../partials/header.ejs %>
		</header>
		<main class="content">
      <ul class="breadcrumb">
        <li role="presentation" >
          <a href="/">Home</a>
        </li>
        <li >
          <a href="/employers">Employers</a>
        </li>
        <li class="active">
          <a href="/employers/<%=employer.id%>"><%=employer.name%></a>
        </li>
      <div class="jumbotron job-show">
        <section class="well">
        <h1> <%=employer.name%></h1>
          <img src="<%=employer.logo%>"></br>
          <h4><%=employer.desc%></h4>
          </section>
</div>
			<section>
				<h2>Jobs posted by this employer:</h2>
				<ul class="media-list">
					<% for(let i=0; i < employer.jobs.length; i++) { %>
						<li class="media">
            <div class="media-body well">
            <a href="/jobs/<%=employer.jobs[i].id%>"><%=employer.jobs[i].title%></a>
            </div>
            </li>

						<% } %>
				</ul>
			</section>
      <% if(currentUser) { %>
      <section>
        <a href="/employers/<%=employer.id%>/edit">Edit</a>
      </section>
      <section>
        <form action="/employers/<%=employer.id%>?_method=DELETE" method="post">
          <input type="submit" value="Delete Employer"/>
        </form>
      </section>
      <% } %>
		</main>
    <%# scripts%>
    <% include ../partials/scripts.ejs %>
    <%# scripts%>
	</body>
</html>
