<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head.ejs %>
</head>
	<body>
		<header>
			<h1>Edit <%=job.title%>'s Info</h1>
			<nav>
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/jobs">Jobs Index</a>
					</li>
				</ul>
			</nav>
		</header>
		<main>
			<h2>Job Attributes:</h2>
			<form action="/jobs/<%=job._id %>?_method=PUT" method="post">
        <select name="employerId">
          <% for(let i=0; i< employers.length; i++) { %>
            <option value="<%=employers[i]._id%>"
            <% if(employers[i]._id.toString() === jobEmployer._id.toString()) { %>
                selected
              <% } %>
              >
            <%=employers[i].name%>
            </option>
            <% } %>
            </select><br/>
				<input type="text" name="title" value="<%=job.title%>"/><br/>
				<textarea name="body"><%=job.body%></textarea><br/>
				<input type="submit" value="Update Job"/>
			</form>
		</main>
    <%# scripts%>
    <% include ../partials/scripts.ejs %>
    <%# scripts%>
	</body>
</html>
