<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head.ejs %>
</head>
	<body>
		<header>
      <% include ../partials/header.ejs %>
		</header>
		<main>
      <h1><%=job.title%></h1>
      <small>posted by: <a href="/employers/<%=employer.id%>"><%=employer.name%></a></small>
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/jobs">Jobs Index</a>
          </li>
        </ul>
      </nav>
			<section>
				<%=job.body%>
			</section>

      <% if(currentUser) { %>
      <section>
        <a href="/jobs/<%=job.id%>/edit">Edit</a>
        <% } %>
      </section>
      <section>
        <form action="/jobs/<%=job.id%>?_method=DELETE" method="post">
          <input type="submit" value="Delete Job"/>
        </form>
      </section>
		</main>
    <%# scripts%>
    <% include ../partials/scripts.ejs %>
    <%# scripts%>
	</body>
</html>
