<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head.ejs %>
</head>
<body>

		<header>
      <% include ../partials/header.ejs %>
		</header>
		<main class="content">
      </div>
      <div class="jumbotron job-show">
      <h1><%=job.title%></h1>
      <h3>posted by: <a href="/employers/<%=employer.id%>"><%=employer.name%></a></h3>
    </div>
			<section class="well">
				<%=job.body%>
			</section>
			<section class="well">
				<%=job.link%>
			</section>

      <% if(currentUser) { %>
      <section>
        <a href="/jobs/<%=job.id%>/edit">Edit</a>
        <% } %>
      </section>

      <nav>
        <ul>
          <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/jobs">Back to Jobs Index</a>
        </li>
      </ul>
    </nav>
    <% if(currentUser) { %>
      <section>
        <form action="/jobs/<%=job.id%>?_method=DELETE" method="post">
          <input type="submit" value="Delete Job"/>
        </form>
      </section>
      <% } %>
		</main>
    <%# scripts%>
    <% include ../partials/scripts.ejs %>
    <%# scripts%>
	</body>
</html>
