<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<header>
			<h1><%=job.title%></h1>
      <small>posted by: <a href="/employers/<%=employer.id%>"><%=employer.name%></a></small>
			<nav>
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/jobs">Jobs Index</a>
					</li>
				</ul>
			</nav>
		</header>
		<main>
			<section>
				<%=job.body%>
			</section>
      <section>
        <a href="/jobs/<%=job.id%>/edit">Edit</a>
      </section>
      <section>
        <form action="/jobs/<%=job.id%>?_method=DELETE" method="post">
          <input type="submit" value="Delete Job"/>
        </form>
      </section>
		</main>
	</body>
</html>
